@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* base styles */

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
}

/* navbar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #5e35f1;
}

/* home */

.volcano-preview {
  border-bottom: 1px solid #fafafa;
  padding: 10px 16px;
  margin: 20px 0;
}

.volcano-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.volcano-preview h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.volcano-preview a {
  text-decoration: none;
}

/* volcano list */

.volcano-list {
  padding: 20px;
}

.volcano-list h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

/* volcano  */

.volcano {
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
}

.volcano h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.volcano p {
  color: #666;
  line-height: 1.6;
}

/* search   */

.search-params {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.search-params label {
  font-size: 16px;
  margin-right: 16px;
}

.search-params .DropDown {
  width: 200px;
}

/* Login */

.Login-Form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.Login-Form h2 {
  margin-bottom: 20px;
}

.Login-Form .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.Login-Form .input-group label {
  font-size: 16px;
  margin-right: 16px;
}

.Login-Form .input-group input {
  padding: 6px;
  flex-grow: 1;
}
